/*
        castaing stylesheet
        */
        
        h1{
            font-size: 5rem;
        }
        html, body{
            background: green;
            height: 100%;
        }
        body{
            display: grid;
            place-items: center;
        }
        a{
            color: red;
            text-decoration: none;
        }